body{
  margin:0;
  background:#050505;
  color:white;
  font-family:Arial;
  text-align:center;
  overflow:hidden;
}

canvas{
  display:block;
  margin:10px auto;
  background:#111;
  border:2px solid gold;
  border-radius:15px;
}

.bets button{
  margin:5px;
  padding:10px;
  border-radius:10px;
  border:none;
  background:#222;
  color:white;
  cursor:pointer;
}

#spin{
  padding:12px 25px;
  background:gold;
  border:none;
  border-radius:10px;
  font-weight:bold;
}
