body{
  margin:0;
  background:#050505;
  font-family:Arial;
  color:white;
  text-align:center;
  overflow:hidden;
}

canvas{
  display:block;
  margin:10px auto;
  background:#111;
  border:2px solid gold;
  border-radius:15px;
}

.bet-buttons{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  justify-content:center;
  margin-top:15px;
}

.bet-btn{
  background:#222;
  color:white;
  border:1px solid gold;
  padding:12px 18px;
  border-radius:12px;
  cursor:pointer;
  font-weight:bold;
}

.bet-btn.active{
  background:gold;
  color:black;
}

#spin{
  margin-top:10px;
  padding:12px 25px;
  border:none;
  border-radius:12px;
  background:gold;
  font-weight:bold;
  cursor:pointer;
}
