body {
margin: 0;
padding: 20px 10px;
background: url("../images/Kalfia.jpg") center center / cover no-repeat fixed;
color: white;
font-family: Arial, sans-serif;
display: flex;
justify-content: center;
min-height: 100vh;
}

.game-container {
text-align: center;
width: 100%;
max-width: 480px;
}

.reels {
display: flex;
gap: 10px;
justify-content: center;
margin-bottom: 20px;
}

.reel {
width: 75px;
height: 240px;
overflow: hidden;
position: relative;
border: 3px solid #ffd700;
border-radius: 18px;
background: linear-gradient(to bottom, #000, #111);
}

.reel-strip {
position: absolute;
top: 0;
left: 0;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.reel-strip img {
width: 60px;
height: 60px;
display: block;
object-fit: cover;
}


#spin {
margin-top: 10px;
}

.info {
margin-top: 10px;
font-size: 16px;
color: gold;
}

fake-jackpot {
  text-align: center;
  color: gold;
  font-size: 20px;
  margin-bottom: 10px;
}
.jackpot-top {
  text-align: center;
  color: gold;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;

  /* 💥 اللمعة الذهبية */
  text-shadow: 
    0 0 5px gold,
    0 0 10px gold,
    0 0 20px orange,
    0 0 30px gold;

  animation: goldGlow 1.5s infinite alternate;
}

/* ✨ حركة اللمعة */
@keyframes goldGlow {
  0% {
    text-shadow: 
      0 0 5px gold,
      0 0 10px gold,
      0 0 20px orange;
  }

  100% {
    text-shadow: 
      0 0 10px yellow,
      0 0 25px gold,
      0 0 40px orange;
  }
}

/* تنظيم الصفوف */
.jackpot-top div {
  display: flex;
  justify-content: center;
  gap: 40px;
  }

  
.bet-toggle {
  margin-left: 10px;
  padding: 10px;
  border-radius: 50%;
  background: gold;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.bet-menu {
  position: absolute;
  bottom: 70px;
  right: 50%;
  transform: translateX(50%);
  background: #111;
  border: 2px solid gold;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  z-index: 999;
}

.bet-menu button {
  background: gold;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.hidden {
  display: none;
}
